# Simulation Exercises

In [30]:
%matplotlib inline
import numpy as np
import pandas as pd

np.random.seed(29)

### 1. How likely is it that you roll doubles when rolling two dice?

In [5]:
die1 = np.random.choice([1,2,3,4,5,6], 10_000)
die2 = np.random.choice([1,2,3,4,5,6], 10_000)

sameRoll = die1 == die2
sameRoll.mean()

0.1613

### 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [7]:
nrows = 10_000
ncols = 8

In [24]:
rolls = np.random.choice([True, False], nrows * ncols).reshape(nrows, ncols)

df = pd.DataFrame(rolls)

df['num_heads'] = df.sum(axis=1)
df['three_heads'] = df.num_heads == 3
df['more_than_three_heads'] = df.num_heads > 3


odds_of_three_heads = int(round(df.three_heads.mean(),2) * 100)
odds_of_more_than_three_heads = int(round(df.more_than_three_heads.mean(),2) * 100)

print(odds_of_three_heads,"%")
print(odds_of_more_than_three_heads, "%")

22 %
64 %

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [27]:
nrows = 100_000 
ncols = 2   

rolls = np.random.choice(["DS","WEB","WEB","WEB"], nrows * ncols).reshape(nrows, ncols)

df = pd.DataFrame(rolls)

df['both_ds'] = (df[0] == "DS") & (df[1] == "DS")


both_ds = int(round(df.both_ds.mean(),2) * 100)

print(f'The odds of both billboards being Data Science are {both_ds}%')

The odds of both billboards being Data Science are 6%

### 4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [62]:
nrows = 100_000 
ncols = 5       

rolls = np.random.normal(3, 1.5, nrows * ncols).astype(int).reshape(nrows, ncols)

df = pd.DataFrame(rolls)

df['total_pop_tarts'] = df.sum(axis=1)
df['pop_tarts_remain'] = df['total_pop_tarts'] < 17


tarts = int(round(df['pop_tarts_remain'].mean(),2) * 100)
print(tarts, '%')

88 %

### 5. Compare Heights
- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, P(woman taller than man)?

In [ ]:
male_heights = np.random.normal(178, 8, 100_000)
female_heights = np.random.normal(170, 6, 100_000)

df = pd.DataFrame({"male_heights" : male_heights,
                   "female_heights" : female_heights})

df['female_is_taller'] = df.female_heights > df.male_heights

df['female_is_taller'].mean()
taller_female = int(round(df['female_is_taller'].mean(),2) * 100)

print(f"The probability of a woman, chosen at random, being taller than a man, chosen at random is {taller_female}%")

### 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

- What is the probability that we observe an installation issue within the first 150 students that download anaconda?

- How likely is it that 450 students all download anaconda without an issue?

In [38]:
### the odds of after having 50 students download anaconda, no one has an installation issue
nrows = 100_000
ncols = 50  

issue_range = [False for r in range(1,250)]
issue_range.append(True)

installs = np.random.choice(issue_range, nrows * ncols).reshape(nrows, ncols)
installs

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [39]:
df['has_no_problem'].mean()

0.67152

In [43]:
### 100 students odds
nrows = 100_000 
ncols = 100      

issue_range = [False for r in range(1,250)]
issue_range.append(True)

installs = np.random.choice(issue_range, nrows * ncols).reshape(nrows, ncols)

df = pd.DataFrame(installs)

df['has_no_problem'] = df.sum(axis=1) == 0

problems = int(round(df['has_no_problem'].mean(),2) * 100)

print(problems, "%")

67 %

In [44]:
### What is the probability that we observe an installation issue within the first 150 students that download anaconda?

nrows = 100_000 
ncols = 150   

issue_range = [False for r in range(1,250)]
issue_range.append(True)

installs = np.random.choice(issue_range, nrows * ncols).reshape(nrows, ncols)

df = pd.DataFrame(installs)

df['has_a_problem'] = df.sum(axis=1) > 0

problems = int(round(df['has_a_problem'].mean(),2) * 100)

print(problems, "%")

45 %

### 7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this? How likely is it that a food truck will show up sometime this week?

In [46]:
ncols = 100_000
ncols = 3 
sightings = np.random.choice([True, False], nrows * ncols, p=[.7,.3]).reshape(nrows, ncols)
sightings

array([[False, False,  True],
       [ True,  True, False],
       [ True, False,  True],
       ...,
       [ True,  True,  True],
       [False, False,  True],
       [ True,  True,  True]])

In [49]:
df = pd.DataFrame(sightings)
df['times_sighted'] = df.sum(axis=1)
df['not_sighted_three_days'] = df.times_sighted == 0
df.head()

       0      1      2  times_sighted  not_sighted_three_days
0  False  False   True              1                   False
1   True   True  False              2                   False
2   True  False   True              2                   False
3   True   True  False              2                   False
4   True   True  False              2                   False

In [50]:
df['not_sighted_three_days'].mean()

0.02734

In [51]:
trucks = int(round(df['not_sighted_three_days'].mean(),2) * 100)

print(f'The odds of not seeing a food truck in Travis Park for three days is {trucks}%')

The odds of not seeing a food truck in Travis Park for three days is 3%

In [53]:
### probability truck will come sometime this week
# Remaining week days
nrows = 100_000 # set rows to number of simulations
ncols = 2      # set columns to number of students in each simulation

# create array with each row representing a simulation and each column representing a student in the simulation
sightings = np.random.choice([True, False], nrows * ncols, p=[.7,.3]).reshape(nrows, ncols)

# convert to data frame
df = pd.DataFrame(sightings)

# add calculation columnns
df['not_sighted_two_days'] = df.sum(axis=1) == 0

# get mean of calculation True/False columns
# format and print results
trucks = int(round(df['not_sighted_two_days'].mean(),4) * 100)

print(f'The odds of not seeing a food truck in Travis Park for {ncols} days is {trucks}%')

The odds of not seeing a food truck in Travis Park for 2 days is 8%

### 8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [54]:
nrows = 100_000 
ncols = 23 
birth_days = np.random.choice([r for r in range(366)], nrows * ncols).reshape(nrows, ncols)
birth_days
df = pd.DataFrame(birth_days)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,183,267,275,330,277,248,224,267,10,36,...,144,140,38,255,45,29,91,128,109,216
1,350,12,276,290,149,170,232,36,263,27,...,284,220,190,22,323,162,131,274,243,258
2,114,361,291,168,214,116,135,107,335,128,...,139,107,172,282,42,288,302,40,131,267
3,167,127,86,319,32,347,212,72,210,211,...,169,339,4,203,317,37,0,223,199,295
4,135,13,201,290,235,39,317,281,103,191,...,34,242,212,85,340,333,276,270,140,115

In [56]:
df['at_least_two_matching_birthdays'] = df.nunique(axis=1) < ncols
df['exactly_two_matching_birthdays'] = df.nunique(axis=1) == ncols-1
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,at_least_two_matching_birthdays,exactly_two_matching_birthdays
0,183,267,275,330,277,248,224,267,10,36,...,38,255,45,29,91,128,109,216,False,False
1,350,12,276,290,149,170,232,36,263,27,...,190,22,323,162,131,274,243,258,False,False
2,114,361,291,168,214,116,135,107,335,128,...,172,282,42,288,302,40,131,267,False,False
3,167,127,86,319,32,347,212,72,210,211,...,4,203,317,37,0,223,199,295,False,False
4,135,13,201,290,235,39,317,281,103,191,...,212,85,340,333,276,270,140,115,False,False

In [57]:

at_least_two_matching_birthdays = int(round(df['at_least_two_matching_birthdays'].mean(),2) * 100)
exactly_two_matching_birthdays = int(round(df['exactly_two_matching_birthdays'].mean(),2) * 100)

print(f'The odds of a room of {ncols} people having at least two people that share a birthday are {at_least_two_matching_birthdays}%')
print(f'The odds of a room of {ncols} people having exactly two people that share a birthday are {exactly_two_matching_birthdays}%')

The odds of a room of 23 people having at least two people that share a birthday are 17%
The odds of a room of 23 people having exactly two people that share a birthday are 18%

In [63]:
ncols = 23      

sightings = np.random.choice([r for r in range(366)], nrows * ncols).reshape(nrows, ncols)
df = pd.DataFrame(sightings)

df['at_least_two_matching_birthdays'] = df.nunique(axis=1) < ncols
df['exactly_two_matching_birthdays'] = df.nunique(axis=1) == ncols-1


at_least_two_matching_birthdays = int(round(df['at_least_two_matching_birthdays'].mean(),2) * 100)
exactly_two_matching_birthdays = int(round(df['exactly_two_matching_birthdays'].mean(),2) * 100)

print(f'The odds of a room of {ncols} people having at least two people that share a birthday are {at_least_two_matching_birthdays}%')
print(f'The odds of a room of {ncols} people having exactly least two people that share a birthday are {exactly_two_matching_birthdays}%')

The odds of a room of 23 people having at least two people that share a birthday are 50%
The odds of a room of 23 people having exactly least two people that share a birthday are 13%

In [65]:
nrows = 100_000 
ncols = 20

In [66]:
sightings = np.random.choice([r for r in range(366)], nrows * ncols).reshape(nrows, ncols)

df = pd.DataFrame(sightings)
df['at_least_two_matching_birthdays'] = df.nunique(axis=1) < ncols
df['exactly_two_matching_birthdays'] = df.nunique(axis=1) == ncols-1

at_least_two_matching_birthdays = int(round(df['at_least_two_matching_birthdays'].mean(),2) * 100)
exactly_two_matching_birthdays = int(round(df['exactly_two_matching_birthdays'].mean(),2) * 100)

print(f'The odds of a room of {ncols} people having at least two people that share a birthday are {at_least_two_matching_birthdays}%')
print(f'The odds of a room of {ncols} people having exactly least two people that share a birthday are {exactly_two_matching_birthdays}%')

The odds of a room of 20 people having at least two people that share a birthday are 41%
The odds of a room of 20 people having exactly least two people that share a birthday are 9%

In [68]:
### 40 people 
nrows = 100_000 
ncols = 40       
sightings = np.random.choice([r for r in range(366)], nrows * ncols).reshape(nrows, ncols)

df = pd.DataFrame(sightings)

df['at_least_two_matching_birthdays'] = df.nunique(axis=1) < ncols
df['exactly_two_matching_birthdays'] = df.nunique(axis=1) == ncols-1

at_least_two_matching_birthdays = int(round(df['at_least_two_matching_birthdays'].mean(),2) * 100)
exactly_two_matching_birthdays = int(round(df['exactly_two_matching_birthdays'].mean(),2) * 100)

print(f'The odds that a room of {ncols} people have at least two people that share a birthday are {at_least_two_matching_birthdays}%')
print(f'The odds that a room of {ncols} people have exactly two people that share a birthday are {exactly_two_matching_birthdays}%')

The odds that a room of 40 people have at least two people that share a birthday are 89%
The odds that a room of 40 people have exactly two people that share a birthday are 28%